@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap");

:root {
	--titleColor: rgb(245, 198, 99);
}

.main-content {
	text-shadow: 2px 2px 2px rgb(0,0,0);
	color: rgb(255,255,255);
}

body {
	background-color: rgb(73, 33, 33);
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

header {
	margin-bottom: 50px;
}

footer {
	margin-top: 40px;
}

p {
	text-align: center;	
	font-size: 16px;
	font-family: 'Fredericka the Great', sans-serif;
}

h1 {
	text-align: center;	
	font-size: 40px;
	line-height: 10px;
	font-family: 'Fredericka the Great', sans-serif;
}

h2 {
	text-align: center;	
	font-size: 24px;
	font-family: 'Fredericka the Great', sans-serif;
}

h3 {
	text-align: center;	
	font-size: 16px;
	font-family: 'Fredericka the Great', sans-serif;
	font-weight: 400;
}

.yellowText {
	color: var(--titleColor);	
}

.instructions {
	text-align:left;
}