@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap");

:root {	
	--fieldBorderColor: rgb(117, 117, 117);
	--fieldBorderThickness: 1px;
	--fieldBorderStyle: dotted;	
}

.mapTable {
	border-spacing: 0px;
	margin: auto;
	padding-top: calc(20px * var(--size));
}

.fieldCell {
	text-align: center;
	vertical-align: middle;
	padding: 0px;
	height: calc(20px * var(--size));
}
.buttonCell {
	width: calc(20px * var(--size));
	border-right: calc(var(--fieldBorderThickness) * var(--size)) var(--fieldBorderStyle) var(--fieldBorderColor);
}
.leftBorder {
	position: relative;
	border-left: calc(var(--fieldBorderThickness) * var(--size)) var(--fieldBorderStyle) var(--fieldBorderColor);
}
.tableRow {
	border-left: calc(var(--fieldBorderThickness) * var(--size)) var(--fieldBorderStyle) var(--fieldBorderColor);
}

.diagonalCell {
	width: calc(20px * var(--size));
	height: calc(3px * var(--size));
	border-bottom: calc(var(--fieldBorderThickness) * var(--size)) var(--fieldBorderStyle) var(--fieldBorderColor);
}
.diagonalUp {
	transform: rotate(-30deg); 
}
.diagonalDown {
	transform: rotate(30deg); 
}

.fieldButton {
	width: calc(40px * var(--size));
	height: calc(40px * var(--size));
	border: none;
	vertical-align: middle;
	color: rgb(255, 255, 255);
	border-radius: calc(20px * var(--size));
	margin-top: calc(0px * var(--size));
	margin-left: calc(5px * var(--size));
	margin-right: calc(5px * var(--size));
	margin-bottom: calc(0px * var(--size));
	filter: drop-shadow(calc(3px * var(--size)) calc(3px * var(--size)) calc(5px * var(--size)) rgb(0,0,0))
}

.fieldButton:hover {
	background-color: rgb(115, 221, 51);
	filter: brightness(150%) drop-shadow(calc(3px * var(--size)) calc(3px * var(--size)) calc(5px * var(--size)) rgb(0,0,0))
}

.eldorado {
	background: url(eldorado.jpg) no-repeat center center;
	background-size: calc(50px * var(--size));
}

.jungle {
	background: url(jungle.jpg) no-repeat right bottom;
	background-size: calc(50px * var(--size));
}

.sea {
	background: url(sea.jpg) no-repeat center center;
	background-size: calc(50px * var(--size));
}

.treasure {
	background: url(treasure.jpg) no-repeat center center;
	background-size: calc(50px * var(--size));
}

.unoccupiedField {
	font-size: calc(8px * var(--size));
}

.pawnOne {
	color: rgb(255, 255, 255);
	text-shadow: calc(1px * var(--size)) calc(2px * var(--size)) calc(2px * var(--size)) rgb(0,0,0);
	font-size: calc(30px * var(--size));

}