
:root {
	--size: 3;
}

.mapTable {
	border-spacing: 0px;
	margin: auto;
	margin-top: 10%
}

.fieldCell {
	text-align: center;
	vertical-align: middle;
	padding: 0px;
	height: calc(20px * var(--size));
}
.buttonCell {
	width: calc(25px * var(--size));
	border-right: calc(5px * var(--size)) solid black;
}
.leftBorder {
	border-left: calc(5px * var(--size)) solid black;
}
.tableRow {
	border-left: calc(5px * var(--size)) solid black;
}

.diagonalCell {
	width: calc(20px * var(--size));
	height: calc(3px * var(--size));
	border-bottom: calc(5px * var(--size)) solid rgb(0, 0, 0);
}
.diagonalUp {
	transform: rotate(-30deg); 
}
.diagonalDown {
	transform: rotate(30deg); 
}

.fieldButton {
	width: calc(40px * var(--size));
	height: calc(40px * var(--size));
	border: none;
	background-color: rgb(0, 128, 0);
	font-size: calc(20px * var(--size));
	color: rgb(255, 255, 255);
	border-radius: calc(20px * var(--size));
	margin-top: calc(0px * var(--size));
	margin-left: calc(5px * var(--size));
	margin-right: calc(5px * var(--size));
	margin-bottom: calc(0px * var(--size));
}
.fieldButton:hover {
	background-color: rgb(115, 221, 51);
}