
:root {	
	--mapSize: 2;
}

.mapTable {
	border-spacing: 0px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.fieldCell {
	text-align: center;
	vertical-align: middle;
	padding: 0px;
	height: calc(5px * var(--mapSize));
}
.buttonCell {
	width: calc(20px * var(--mapSize));
}

.diagonalCell {
	width: calc(20px * var(--mapSize));
}

.fieldButton {
	width: calc(40px * var(--mapSize));
	height: calc(40px * var(--mapSize));
	border: none;
	vertical-align: middle;
	color: rgb(255, 255, 255);
	border-radius: calc(20px * var(--mapSize));
	margin-top: calc(0px * var(--mapSize));
	margin-left: calc(5px * var(--mapSize));
	margin-right: calc(5px * var(--mapSize));
	margin-bottom: calc(0px * var(--mapSize));
	filter: drop-shadow(calc(1px * var(--mapSize)) calc(1px * var(--mapSize)) calc(1px * var(--mapSize)) rgb(0,0,0))
}

.enabledButton:hover {
	filter: brightness(150%) drop-shadow(calc(1px * var(--mapSize)) calc(1px * var(--mapSize)) calc(1px * var(--mapSize)) rgb(0,0,0));
	border: 2px dashed rgb(255,255,255);
}

.eldorado {
	background: url(el-dorado.jpg) no-repeat center center;
	background-size: calc(50px * var(--mapSize));
}

.jungle {
	background: url(jungle.jpg) no-repeat center center;
	background-size: calc(50px * var(--mapSize));
}

.sea {
	background: url(sea.jpg) no-repeat center center;
	background-size: calc(50px * var(--mapSize));
}

.village {
	background: url(village.jpg) no-repeat center center;
	background-size: calc(50px * var(--mapSize));
}

.mountain {
	background: url(mountain.jpg) no-repeat center center;
	background-size: calc(50px * var(--mapSize));
	border: 2px solid rgb(0,0,0);
}

.unoccupiedField {
	font-size: calc(8px * var(--mapSize));
}

.pawnOne {
	color: rgb(255, 255, 255);
	text-shadow: calc(1px * var(--mapSize)) calc(2px * var(--mapSize)) calc(2px * var(--mapSize)) rgb(0,0,0);
	font-size: calc(30px * var(--mapSize));
}