
:root {	
	--deckContainerWidth: 30%;
	
}

.runningGameContainer {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7vh;
}

.deckContainer {
	display:inline-block;
	width: var(--deckContainerWidth);
	align-content: center;
	overflow-y: auto;
}

.mapContainer {
	display:inline-block;
	width: calc(100% - var(--deckContainerWidth));
	vertical-align: center;
	overflow-y: auto;
	margin-bottom: 6vh;
}